
<!-- Afficher une variable -->
<!-- <h1>{{ title}}</h1> -->

<!-- Afficher les données d'un objet -->
<!-- <h3>{{produit.nom}}</h3>
<h3>{{produit.couleur}}</h3>
<h3>{{produit.description}}</h3>

<!-- Déclarer un tableau de produits -->
<!-- Itérer dans le tableau -->
<!-- le terme objet représente chaque élément de la boucle (comme i) -->
<!-- <ul>
  <li *ngFor="let objet of produitsBoutique">
    {{objet.nom}}
  </li>
</ul> -->

<!-- Utilisation de Boostrap -->
<app-contact></app-contact>
<div class="container">
  <header class="mb-4">
    <!-- ICI LA NAV QUI VA AFFICHER LE TITRE-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse">
      <a class="navbar-brand" href="#">
        {{title}}
      </a>
    </nav>
  </header>
  

  <!-- .row> .col-sm-4+.col-sm-8* -->
  <div class="row">
    <!-- Liste des produits -->
    <div class="col-sm-4">
      <div class="list-group">
        <a href="#" 
          *ngFor="let objet of produitsBoutique"
          (click)="detailProduit(objet)" 
          [class.active] = "objetDetail === objet"
          class="list-group-item" >
            {{objet.nom}}
        </a>
      </div>
    </div>
    <!-- Fermeture col sm4 -->

    <!-- Détail du produit avec un élément Jumbotron-->
    <div class="col-sm-8">
      <div class="jumbotron" *ngIf="objetDetail.nom">
        <h1>{{objetDetail.nom}}</h1>
        <h2>{{objetDetail.description}}</h2>

      </div>
      <!-- Gérer l'affichage quand objetDetail n'existe pas -->
      <div class="jumbotron" *ngIf="!objetDetail.nom">
        <h2>Cliquez dans la liste pour voir le détail</h2>
      </div>
    </div>
    <!-- Fermeture col sm8 -->


  </div><!-- Fermeture de row -->



</div><!-- Fermeture de container -->

<div class="container">
    
  <h4>Entrez un nouveau produit ici</h4>
  <form id="form">
  <input type="text"
  (input) = onAddingProduct($event)
  placeholder={{placeholder}}
  >
  <button
  class="btn btn-primary"
  (click)="onCreateProduct()"
  >
      AJOUTER UN PRODUIT
  </button>
  
  </form>

  <!-- <form (ngSubmit)= "onSubmit()">
    <input type="text"
    (input) = onAddingProduct($event)
    placeholder={{placeholder}}
    >
    <button
    class="btn btn-primary"
    (click)="onCreateProduct()"
    type="submit"
    >
        AJOUTER UN PRODUIT
    </button>
    
    </form> -->

</div>